---
layout: main
overview: true
sections: {
  research: "Research",
  papers: "Papers",
  software: "Software",
  group: "Group",
  projects: "Projects",
  misc: "Misc"
}
---

<h2 class="page-heading">Overview</h2>

<p class="homepage">
  I am a final year PhD student at the University of Pennsylvania, where I am
  fortunate to be advised
  by <a href="https://www.cis.upenn.edu/~alur/">Rajeev Alur</a>. 
  My research interests lie in the intersection of computer systems and programming languages.

  <!-- This should be part of a bio and not my overview -->
  <!-- I have interned in Microsoft Research, where I worked with
  <a href="https://www.microsoft.com/en-us/research/people/sburckha/">Sebastian Burckhardt</a>,
  and in the Automated Reasoning Group in AWS, where I worked with 
  <a href="https://www.linkedin.com/in/daniel-schwartz-narbonne-5036b9137/">Daniel Schwartz-Narbonne</a>.
  Before my PhD, I studied at the National Technical University of Athens,
  where I was advised by <a href="http://user.it.uu.se/~kostis/">Kostis Sagonas</a>. -->
</p>

<p class=homepage">
  I am a member of the Technical Steering Committee of 
  <a href="https://binpa.sh/">PaSh</a>, 
  a shell-script parallelization project hosted by the 
  <a href="https://www.linuxfoundation.org/press-release/linux-foundation-to-host-the-pash-project-accelerating-shell-scripting-with-automated-parallelization-for-industrial-use-cases/">Linux Foundation</a>. 
</p>

<p class="homepage">
  Together with <a href="https://manosth.github.io/">Manos Theodosis</a> we co-created 
  <a href="https://manosth.github.io/mentoring_initiative/">CS PhD MentoRes</a> in 2021, 
  a mentoring initiative for people that are interested in applying for PhD programs 
  in Computer Science and related fields but don't have access to adequate resources.

  If you are interested in applying for a PhD (or just want to know more about what it entails), contact us!
</p>

<hr>

<p class="homepage">
  📰 <b>News:</b> 📰  I am on the academic job market this year (2023-2024 cycle) looking for tenure track positions. 
</p>

<hr>


<p class="homepage">
  <b>Links:</b>
  <a href="#research">{{ page.sections.research }}</a>,
  <a href="/group.html">{{ page.sections.group }}</a>,
  <a href="/papers.html">Papers</a>,
  <a href="#software">Software</a>,  
  <a href="/projects.html">{{ page.sections.projects }}</a>,
  <a href="/service.html">Service and Outreach</a>,
  <a href="#personal">{{ page.sections.misc }}</a>
</p>

<!-- <ul class="contents">
  {% for section in page.sections %}
    <li><a href="#{{ section[0] }}">{{ section[1] }}</a></li>
  {% endfor %}
</ul> -->

<hr>

<!-- <p class="homepage" style="background-color:  #edf6f8;"> -->
<p class="homepage">
  <b>Note:</b>
  I am committed to ensuring that everyone feels comfortable being part of our research community.
  I am always happy to talk to anyone (junior or senior) who feels like they want to share or discuss anything; be it a negative (or positive) experience, an interaction with another member of our community, or an issue with university and other processes.
  I have often needed to seek help myself and found that having access to a listening ear is very helpful.
</p>

<hr>

<h2 id="research" class="page-heading">{{ page.sections.research }}</h2>


<p class="homepage">
  <!-- We live in an era of unprecedented compute availability. 
  The advent of the cloud allows anyone to deploy critical high-performance applications 
  that serve millions of users without owning or managing any computational resources.  -->
  
  The goal of my research is <b>to enable the development of high-performance applications 
    with robust correctness guarantees</b>. 
    
  To achieve this goal, I build practical programmable software systems that target realistic workloads in widely-used environments. 
  
  I build my systems on solid foundations using formal specifications and techniques drawn from the programming languages, compilers, and formal methods literature.
</p>

<p class="homepage">
  Here are some of my representative recent papers. 
  A complete list of my publications, talks, reports, and software can be found <a href="/papers.html">here</a> 
  or on my <a href="https://scholar.google.gr/citations?user=VD4P3FoAAAAJ">Google Scholar profile</a>.

</p>


{% include_relative indexed_paper_list.html %}


<hr>


<h2 id="software" class="page-heading">Software</h2>

<p class="homepage">
  Here are some selected software systems that have come out of my group's research.
  A complete list can be found <a href="/papers.html#software">here</a>.
</p>

<ul>
  <li>
    <b>try</b>
    (<a href="https://github.com/binpash/try">Github</a>)
    <a class="github-button" href="https://github.com/binpash/try" data-icon="octicon-star"  data-show-count="true" aria-label="Star binpash/try on GitHub">Star</a>
    <br>
    A tool that lets you run a command and inspect its effects before committing them to your system.
  </li>
  <li>
    <b>PaSh</b>
    (<a href="https://github.com/binpash/pash">Github</a>)
    <a class="github-button" href="https://github.com/binpash/pash" data-icon="octicon-star"  data-show-count="true" aria-label="Star binpash/pash on GitHub">Star</a>
    <br>
    A system that automatically parallelizes <em>your</em> shell scripts. Hosted by the 
    <a href="https://www.linuxfoundation.org/press-release/linux-foundation-to-host-the-pash-project-accelerating-shell-scripting-with-automated-parallelization-for-industrial-use-cases/">Linux Foundation</a>.
  </li>
  <li>
    <b>mucache</b>
    (<a href="https://github.com/eniac/mucache">GitHub</a>) 
    <a class="github-button" href="https://github.com/eniac/mucache" data-icon="octicon-star"  data-show-count="true" aria-label="Star eniac/mu2sls on GitHub">Star</a>
    <br>
    A system that automatically adds and manages caches in microservice applications.
  </li>
</ul>
  


<h2 id="personal" class="page-heading">Personal</h2>


<p class="homepage">
  In my free time I enjoy human activities.
  I really enjoy 
  <a href="/files/sleep/acadia_sleep.jpeg" rel="nofollow" style="color: inherit">lying</a> 
  <a href="/files/sleep/san_diego_sleep.jpg" rel="nofollow" style="color: inherit">down</a> 
  and 
  <a href="/files/sleep/nisiros_sleep.jpg" rel="nofollow" style="color: inherit">falling</a>  
  <a href="/files/sleep/hammock_sleep.jpg" rel="nofollow" style="color: inherit">asleep</a> 
  <a href="/files/sleep/acadia_sleep_2.jpeg" rel="nofollow" style="color: inherit">in</a> 
  <a href="/files/sleep/epirus_sleep.jpg" rel="nofollow" style="color: inherit">nature</a>, 
  <a href="/files/sleep/argiria_sleep_2.jpg" rel="nofollow" style="color: inherit">with</a> 
  or 
  <a href="/files/sleep/grass_sleep.jpg" rel="nofollow" style="color: inherit">without</a> 
  the 
  <a href="/files/sleep/west_philly_sleep.jpg" rel="nofollow" style="color: inherit">presence</a> 
  of other people.
  During the late 2010s I was obsessed with 
  <a href="/escape_rooms.html" rel="nofollow" style="color: inherit">escape rooms</a>
  but I am not going that often anymore.
  I occasionally like producing rhythmic sounds from electric guitars, usually in the context of some 
  <a href="https://magnesiumsessions.bandcamp.com/track/air" rel="nofollow" style="color: inherit">jam session</a>.
</p>



