---
layout: main
overview: true
---

<h2 id="projects" class="page-heading">Projects</h2>

<p class="homepage">
    I am broadly interested in software systems, compilers, programming languages, and formal methods.
    This page contains some information about some current projects but it is not updated frequently.
    I am generally not restricted with respect to the projects that I work on, 
    so if you want to work with me but don't see a project that interests you here, 
    shoot me an email and we can figure something out!
</p>


  

<p class="homepage">
    Here is some information about two of my current projects, including a diagram that shows
    an overview of my research during my PhD.
    Past research projects can be found <a href="/past-projects.html">here</a>.
</p>

<div>
    <img src="/files/research_overview.svg">
</div>

</br>
  
{% include_relative research-projects/shell.html %}
  
{% include_relative research-projects/serverless.html %}
  



