---
---

@import "{{ site.theme }}";

a:hover {
    font-weight: inherit;
}

ul.bibliography {
  list-style-type: none;
  list-style-position: inside;
  text-indent: -17px;
  padding-left: 20px;
  padding-right: 0;
  margin-right: 0;
}

ul.bibliography li {
  margin-bottom: 15px;
  margin-right: 0;
  padding-right: 0;
}

ul.bibliography li.highlight {
  background-color: #DDDD;
}

ul.contents {
  max-width: 600px;
  padding-left: 1em;
  list-style: square inside;
}

p.homepage {
  text-align: justify;
}

nav {
  flex: 0 0 200px;
  height: 45px;
  white-space: nowrap;
  display: flex;
  align-content: end;
  align-items: center;
  justify-content: space-between;
}

nav h3 {
  flex: 1;
  display: block;
  margin:  17px 0 17px 0;
  padding: 0;
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;
  color: #303030;
}

nav h3.active {
  color: #000000;
  font-weight: bold;
}
