---
---

@import "{{ site.theme }}";

/* This is for the font */ 
// h1 { 
//     font-family: Quicksand; 
//     font-size: 24px; 
//     font-style: normal; 
//     font-variant: normal; 
//     font-weight: 700; 
//     line-height: 26.4px; 
// }
// h3 { 
//     font-family: Quicksand; 
//     font-size: 14px; 
//     font-style: normal; 
//     font-variant: normal; 
//     font-weight: 700; 
//     line-height: 15.4px; 
// }
// p { 
//     font-family: Quicksand; 
//     font-size: 14px; 
//     font-style: normal; 
//     font-variant: normal; 
//     font-weight: 400; 
//     line-height: 20px; 
// }
// blockquote { 
//     font-family: Quicksand; 
//     font-size: 21px; 
//     font-style: normal; 
//     font-variant: normal; 
//     font-weight: 400; 
//     line-height: 30px; 
// }
// pre { 
//     font-family: Quicksand; 
//     font-size: 13px; 
//     font-style: normal; 
//     font-variant: normal; 
//     font-weight: 400; 
//     line-height: 18.5667px; 
// }

a.name-link {
    color: inherit;
}

a.name-link:hover {
    text-decoration: underline;
}


a.footnote sup {
   text-decoration:none;
   background-color: #b2ceff;
   color: black;
   border-radius: 5px;
   padding-left: 3px;
   padding-right: 3px;
   margin-right: 2px;
} 

.footnoteText {
   z-index: 1;
   display: none;
   opacity: 0;
   position: relative;
   color: black;
   margin-left: 0px;
   margin-right: 18px;
   padding:14px 20px;
   border-radius:4px;
   box-shadow: 5px 5px 8px #CCC;
   border:1px solid #DCA;
   background-color: #fffadd;
}
.footnote:focus + .footnoteText {
   display: block;
   opacity: 1;
   }

.close:focus .footnoteText {display: none;}


a:hover {
    font-weight: inherit;
}

ul.bibliography {
  list-style-type: none;
  list-style-position: inside;
  text-indent: -17px;
  padding-left: 20px;
  padding-right: 0;
  margin-right: 0;
}

ul.bibliography li {
  margin-bottom: 15px;
  margin-right: 0;
  padding-right: 0;
}

ul.bibliography li.highlight {
  background-color: #DDDD;
}

ul.contents {
  max-width: 600px;
  padding-left: 1em;
  list-style: square inside;
}

p.homepage {
  text-align: justify;
}

nav {
  flex: 0 0 200px;
  height: 45px;
  white-space: nowrap;
  display: flex;
  align-content: end;
  align-items: center;
  justify-content: space-between;
}

nav h3 {
  flex: 1;
  display: block;
  margin:  17px 0 17px 0;
  padding: 0;
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;
  color: #303030;
}

nav h3.active {
  color: #000000;
  font-weight: bold;
}

header div.contact-info {
    display: inline-block;
    width: 100%;
}

header div.profile-pic {
    margin-bottom: 4%;
    display: inline-block;
    border: 2px solid black;
    height: 220px;
    float: left;
    // image-orientation: 0deg;
    // image-orientation: from-image;
}

@media print, screen and (max-width: 960px) {
    header {
        width: 100%;
    }
    header div.contact-info {
        display: flex;
        float: left;
        width: 50%;
        padding-left: 5%
    }
    header div.profile-pic {
        height: 180px;
    }
}
