<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta name="robots" content="noindex,nofollow">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">

{% seo %}

    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="{{ site.baseurl }}/public/css/gpgc_styles.css">
    <meta name="viewport" content="width=device-width">
  </head>
  <body>
    <div class="wrapper">

      <a href="/index.html" style="color: inherit">
        <img src="/assets/home_icon.png"  style="width:24px;height:24px;border:0;">
      </a>
      
      {{ content }}
      
      <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      
    </div>
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>
    
  </body>
</html>
