---
layout: default
---

<header>
  <h1><a href="/index.html" style="color: inherit">{{ site.title }}</a></h1> 

  <hr>
  
  <div style="margin-bottom: 4%; display: inline-block; border: 2px solid black; height: 220px;">
    <img src="/files/portrait_profile_pic.jpg" height="220" >
  </div>

  <p>
    I am a PhD student in the PL Group at the University of Pennsylvania. My research interests lie in the intersection of programming languages, software verification, and distributed systems. I am particularly interested in ways of making software and programming in general more reliable and secure.
  </p>

  <p class="view">Contact: (λx y -> concat [x, "@", y]) "kallas" "seas.upenn.edu"</p>

  <p class="view"><a href="/files/cv_konstantinos_kallas.pdf">Curriculum Vitae</a></p>
  
  <a href="{{ site.github.owner_url }}">
    <img src="/assets/GitHub-Mark-64px.png"  style="width:24px;height:24px;border:0;">
  </a>
  <a href="https://scholar.google.gr/citations?user=vKPisLUAAAAJ">
    <img src="/assets/google_scholar_icon_cropped.png"  style="width:24px;height:24px;border:0;">
  </a>
  <a href="https://www.linkedin.com/in/konstantinoskallas/">
    <img src="/assets/In-Black-48px.png"  style="width:24px;height:24px;border:0;">
  </a>

  <!-- <img src="/files/portrait_profile_pic.jpg"> -->
  
</header>

<section>
  
  {{ content }}
  
</section>

<footer>
  <!-- Cannot make last-modified-at work... -->
  <!-- <p><small><i>Page last updated at: {{ page.last_modified_at | date: '%Y:%B:%A:%d:%S:%R' }}</i></small></p> -->
  <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
</footer>
