---
layout: default
---

<header>
  <h1><a href="/index.html" style="color: inherit">{{ site.title }}</a></h1> 

  <hr>
  
  <div class="profile-pic">
  <!-- <img src="/files/olympus_opt.jpg" height="100%" > -->
    <img id="prof-pic-img" src="/files/konstantinos_smallest.jpg" height="100%" >
    <!-- <div class="profile-pic-button">
	    <img src="/files/mountain_emoji.png" height="100%" >    
    </div> -->
  </div>

  <!-- The code below is thanks to Nikos Pagonas (https://nikpag.github.io/) -->
  <!-- Prefetch mountain image for immediate change -->
  <img src="/files/argiria_jump_cropped.jpg" style="display: none;" />
  <img src="/files/zion_narrows_cropped.jpg" style="display: none;" />
  <img src="/files/smolikas_opt.jpg" style="display: none;" />
  <img src="/files/balkans1.jpg" style="display: none;" />
  

  <!-- Change profile picture to mountain on hover -->
  <script>
    document.addEventListener("DOMContentLoaded", function() {
      const hoverMountain = document.getElementById("mountainEmoji")
      const hoverRiver = document.getElementById("waterEmoji")
      const profilePicture = document.getElementById("prof-pic-img")

      const originalSrc = profilePicture.src
      const mountainSrc1 = "/files/smolikas_opt.jpg"
      const mountainSrc2 = "/files/balkans1.jpg"
      const riverSrc1 = "/files/argiria_jump_cropped.jpg"
      const riverSrc2 = "/files/zion_narrows_cropped.jpg"

      hoverMountain.addEventListener("mouseover", function() {
        profilePicture.src = Math.random() < 0.5 ? mountainSrc1 : mountainSrc2
      })
      
      
      hoverMountain.addEventListener("mouseout", function() {
        profilePicture.src = originalSrc;
      })

      hoverRiver.addEventListener("mouseover", function() {
        // Randomly pick between riverSrc1 and riverSrc2
        profilePicture.src = Math.random() < 0.5 ? riverSrc1 : riverSrc2
      })
      
      
      hoverRiver.addEventListener("mouseout", function() {
        profilePicture.src = originalSrc;
      })
    })
  </script>

  <div class="contact-info">
    <p>
      he/him or they/them </br>
      Assistant Professor at <a href="https://www.cs.ucla.edu/">UCLA CS</a></br>
      Co-creator of <a href="https://manosth.github.io/mentoring_initiative/">CS PhD MentoRes</a></br>
      TSC member of <a href="https://github.com/binpash">PaSh</a></br>
      <!-- <a href="https://www.linuxfoundation.org/press-release/linux-foundation-to-host-the-pash-project-accelerating-shell-scripting-with-automated-parallelization-for-industrial-use-cases/">Linux Foundation</a>.  -->
      Office: Engineering VI, 382 (or 
        <a id="mountainEmoji">&#x26F0;&#xFE0F;</a> 
        <a id="waterEmoji">🌊</a>) </br>
      Contact: <a href="mailto:kkallas@ucla.edu">kkallas@ucla.edu</a>

      <!-- Member of Penn's <a href="https://dsl.cis.upenn.edu/">DSL</a> and <a href="https://www.cis.upenn.edu/~plclub/">PLClub</a></br> -->

      <!-- </br></br> -->
      <!-- <a href="/files/cv_konstantinos_kallas.pdf">Curriculum Vitae</a> </br> -->
      <!-- <a href="/bio.html">Short Bio</a> </br> -->
      <!-- <a href="/blog/index.html">Personal Blog</a> -->
    </p>

  </div>
  <div class="links" style="display: inline-block; width: 100%; ">
    <a href="/files/cv_konstantinos_kallas.pdf">
      <img src="/assets/cv-logo-2.png"  style="width:24px;height:24px;border:0px;">
    </a>
    <a href="{{ site.github.owner_url }}">
      <img src="/assets/GitHub-Mark-64px.png"  style="width:24px;height:24px;border:0;">
    </a>
    <a href="https://scholar.google.gr/citations?user=VD4P3FoAAAAJ">
      <img src="/assets/google_scholar_icon_cropped.png"  style="width:24px;height:24px;border:0;">
    </a>
    <a href="https://www.linkedin.com/in/konstantinoskallas/">
      <img src="/assets/In-Black-48px.png"  style="width:24px;height:24px;border:0;">
    </a>
    <a href="https://twitter.com/KonsKallas">
      <img src="/assets/twitter-icon.svg"  style="width:24px;height:24px;border:0;">
    </a>
    <a rel="me" href="https://discuss.systems/@kallas">
	    <img src="/assets/mastodon-black-icon.webp"  style="width:24px;height:24px;border:0;">
    </a>
    <a href="/blog/index.html">
      <img src="/assets/blog-logo.png"  style="width:24px;height:24px;border:0;">
    </a>
  </div>


</header>

<section>

  {{ content }}

</section>

<!-- <footer> -->
  <!-- Cannot make last-modified-at work... -->
  <!-- <p><small><i>Page last updated at: {{ page.last_modified_at | date: '%Y:%B:%A:%d:%S:%R' }}</i></small></p> -->
  <!--  <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p> -->
<!-- </footer> -->
