---
layout: default
---

<script type="text/javascript" async
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>

<!-- Previous Title containing a link to home -->
<!-- <h2><a href="/index.html" style="color: inherit"> -->
<!--     {{ site.title }}' Homepage -->
<!-- </a></h2>  -->

<a href="/blog/index.html" style="color: inherit">
  <img src="/assets/home_icon.png"  style="width:24px;height:24px;border:0;">
</a>

<h1> {{ page.title }} </h1>

<!-- Date Icon -->
<!-- <p> -->
<!--   <img src="/assets/date-time-icon-512-512.png"  style="width:16px;height:16px;border:0;"> {{ page.date | date_to_long_string }} -->
<!-- </p> -->

<!-- Date Italics -->
<p>
  <i> &mdash; {{ page.date | date_to_long_string }} &mdash; </i>
</p>


{{ content }}

<!-- This exists here for the comments -->
<!-- {% include gpgc_comments.html post_title=page.title %} -->

<p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>

